/* Estilos baseados em agenda.css */

.availability-container {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.schedule-button {
    background-color: #007BFF; /* Azul tradicional */
    color: #fff; /* Texto branco */
    border: 2px solid #007BFF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.schedule-button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}


.availability-list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.availability-list h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.availability-list ul {
    list-style: none;
    padding: 0;
}

.availability-list li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.availability-list li p {
    margin: 0;
}

.success-message, .error-message {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Modal Estilos */
.modal {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.modal label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.modal input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1em;
}

.confirm-button, .cancel-button {
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    border: none;
}

.confirm-button {
    background-color: #2b66f0;
    color: white;
}

.confirm-button:hover {
    background-color: #3d20a7;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.cancel-button:hover {
    background-color: #e31b0c;
}
