.profile-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden; 
}

.main-content {
    flex: 1;
    margin-left: 250px; 
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.no-hitory-appointments-message {
    text-align: center;
    font-size: 1.5em;
    color: #777;
}

.appointments-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
}

.appointments-list li {
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; 
}

.appointments-list li:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}
